<!--
  ~ Show Java - A java/apk decompiler for android
  ~ Copyright (c) 2020 Niranjan Rajendran
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="xyz.decompile.decompilers.fernflower.fernflower_24">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_fernflower_24">
        <dist:delivery>
            <dist:install-time />
            <dist:min-sdk dist:value="24" />
            <!-- <dist:max-sdk dist:value="24" />  -->
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>