/apl
/captures
*.apk
*.ap_
/releases
/local.properties
/app/keys.properties
*.dex
*.class
bin/
gen/
/app/extra.gradle
Thumbs.db
.DS_Store
.classpath
.project
.idea
.gradle
build
*.iml
google-services.json
/app/standard/
tmp
dependencies.txt
test.sh