<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.njlabs.showjava"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.njlabs.showjava.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.njlabs.showjava.AppListing"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.njlabs.showjava.AppProcessActivity"
            android:label="@string/title_activity_app_process"
            android:configChanges="orientation"
            android:parentActivityName="com.njlabs.showjava.AppListing" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.njlabs.showjava.AppListing" />
        </activity>
        <activity
            android:name="com.njlabs.showjava.JavaExplorer"
            android:label="@string/title_activity_java_explorer" >
        </activity>
        <activity
            android:name="com.njlabs.showjava.SourceViewer"
            android:theme="@style/SourceViewerTheme"
            android:label="@string/title_activity_source_viewer" >
        </activity>
    </application>

</manifest>
