deviceId=YourDeviceId
admobPublisherId=pub-3940256099942544
adUnitId=YourAdUnitId
admobAppId=ca-app-pub-3940256099942544~3347511713
IapProductId=pro_app
googlePlayLicenseKey=xyzzy
backendUrl=https://postb.in/iiolsQAd
purchaseVerifierPath=check/buy
privacyPolicyUrl=https://example.com/privacy-policy/
minifyEnabled=true
shrinkResources=true
crashlyticsApiKey=$CRASHLYTICS_API_KEY
encryptionKey=abc
encryptionSalt=abc
