<?xml version="1.0" encoding="utf-8"?><!--
  ~ Show Java - A java/apk decompiler for android
  ~ Copyright (c) 2018 Niranjan Rajendran
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.njlabs.showjava">

    <permission
        android:name="com.njlabs.showjava.permission.CANCEL_WORKER"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.njlabs.showjava.permission.CANCEL_WORKER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label,android:supportsRtl">

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="${crashlyticsApiKey}" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver
            android:name=".receivers.DecompilerActionReceiver"
            android:permission="com.njlabs.showjava.permission.CANCEL_WORKER" />

        <activity
            android:name=".activities.ContainerActivity"
            android:label="@string/appName"
            android:theme="@style/AppTheme.WithDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:icon="@mipmap/ic_launcher_round"
                android:label="@string/appName"
                android:priority="10">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>

            <intent-filter
                android:icon="@mipmap/ic_launcher_round"
                android:label="@string/appName"
                android:priority="20">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="application/java-archive" />
            </intent-filter>

            <!--
                 Capture file open requests (pathPattern is honoured) where no
                 MIME type is provided in the Intent.  An Intent with a null
                 MIME type will never be matched by a filter with a set MIME
                 type, so we need a second intent-filter if we wish to also
                 match files with this extension and a non-null MIME type
                 (even if it is non-null but zero length).
            -->
            <intent-filter
                android:icon="@mipmap/ic_launcher_round"
                android:label="@string/appName"
                android:priority="30">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />

                <!--
                     Work around Android's ugly primitive PatternMatcher
                     implementation that can't cope with finding a . early in
                     the path unless it's explicitly matched.
                -->
                <data android:pathPattern=".*\\.jar" />
                <data android:pathPattern=".*\\..*\\.jar" />
                <data android:pathPattern=".*\\..*\\..*\\.jar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.jar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.jar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.jar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.jar" />
                <data android:pathPattern=".*\\.dex" />
                <data android:pathPattern=".*\\..*\\.dex" />
                <data android:pathPattern=".*\\..*\\..*\\.dex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.dex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.dex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.dex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.dex" />
                <data android:pathPattern=".*\\.odex" />
                <data android:pathPattern=".*\\..*\\.odex" />
                <data android:pathPattern=".*\\..*\\..*\\.odex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odex" />
            </intent-filter>

            <!--
                 Capture file open requests (pathPattern is honoured) where a
                 (possibly blank) MIME type is provided in the Intent.  This
                 filter may only be necessary for supporting ES File Explorer,
                 which has the probably buggy behaviour of using an Intent
                 with a MIME type that is set but zero-length.  It's
                 impossible to match such a type except by using a global
                 wildcard.
            -->
            <intent-filter
                android:icon="@mipmap/ic_launcher_round"
                android:label="@string/appName"
                android:priority="40">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />

                <!--
                     Work around Android's ugly primitive PatternMatcher
                     implementation that can't cope with finding a . early in
                     the path unless it's explicitly matched.
                -->
                <data android:pathPattern=".*\\.jar" />
                <data android:pathPattern=".*\\..*\\.jar" />
                <data android:pathPattern=".*\\..*\\..*\\.jar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.jar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.jar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.jar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.jar" />
                <data android:pathPattern=".*\\.dex" />
                <data android:pathPattern=".*\\..*\\.dex" />
                <data android:pathPattern=".*\\..*\\..*\\.dex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.dex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.dex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.dex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.dex" />
                <data android:pathPattern=".*\\.odex" />
                <data android:pathPattern=".*\\..*\\.odex" />
                <data android:pathPattern=".*\\..*\\..*\\.odex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odex" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odex" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.decompiler.DecompilerProcessActivity"
            android:theme="@style/AppTheme.WithTransition">
        </activity>

        <activity
            android:name=".activities.decompiler.LowMemoryActivity">
        </activity>

        <activity
            android:name=".activities.explorer.viewer.CodeViewerActivity"
            android:theme="@style/SourceViewerTheme" />

        <activity android:name=".activities.explorer.navigator.NavigatorActivity">
        </activity>

        <activity
            android:name=".activities.explorer.viewer.ImageViewerActivity"
            android:theme="@style/SourceViewerTheme" />

        <activity android:name=".activities.about.AboutActivity">
        </activity>

        <activity android:name=".activities.purchase.PurchaseActivity">
        </activity>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.about.AboutActivity" />
        </activity>

    </application>
</manifest>