<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.njlabs.showjava">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar"
        android:largeHeap="true"
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".activities.landing.LandingActivity"
            android:label="@string/appName"
            android:theme="@style/AppTheme.WithDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.filepicker.FilePickerActivity"
            android:label="@string/appName"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.apps.AppsActivity"
            android:label="@string/appName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.landing.LandingActivity" />
        </activity>

        <activity
            android:name=".activities.decompiler.DecompilerActivity"
            android:label="@string/appName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.apps.AppsActivity" />
        </activity>

        <activity android:name=".activities.explorer.viewer.CodeViewerActivity" android:theme="@style/SourceViewerTheme" />

        <activity android:name=".activities.explorer.navigator.NavigatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.landing.LandingActivity" />
        </activity>

        <activity android:name=".activities.explorer.viewer.ImageViewerActivity" android:theme="@style/SourceViewerTheme" />

        <service
            android:name=".services.processor.ProcessorService"
            android:exported="false"
            android:process=":service" />
    </application>

</manifest>